:root{
    -bg:rgba(173, 173, 173, 0.551)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
}
.outlet{
    width:82% ;
    min-height: 100vh;
}
.mainnav{
    width: 300px;
    overflow: hidden;
    min-height: 100vh;
    border-right: 1px solid rgba(173, 173, 173, 0.551);
}
.main_menu{
    padding:20px 10px;
}
.main_menu_user{
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 5px;
    border: 2px solid rgb(202, 201, 201);
    padding: 5px 10px;
    border-radius: 15px;
}
.main_menu_user>img{
    border: 2px solid rgb(50, 20, 20);
    border-radius: 50%;
    width: 50px;
    height:50px;
}
#user_email{
    font-size: 15px;
    color: gray;
}
#User_name{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bolder;
}
#down{
    width: 20px;
    height: 20px;  
    transition: ease-in .1s;
}
.main_menu_user:hover #down{
    transform: rotate(180deg);
}
.user_buttons{
    position: absolute;
    z-index: 10;
    display: flex;
    left: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom:-130px;
    gap: 10px;
    border: 1px solid red;
    padding: 20px 0;
    border-radius: 5px;
    transition: linear .4s;
    width:0;
    height: 0;
    overflow: hidden;
    border: none;
}
.user_buttons>button{
    width: 80%;
    padding: 15px 20px;
    border: none;
    color: red;
    font-weight: bold;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
.logout>img{
    width: 15px;
    height: 15px;
}
.main_menu_user:hover .user_buttons{
    width: 90%;
    height: auto;
}
.menus{
    width: 100%;
    margin-top: 100px;
    padding: 10px 10px;
}
#menuname{
    font-weight: bold;
    font-size: 25px;
    color: rgb(111, 111, 111);
}
.mainmenus{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.mainmenus>.menunavs{
    display: flex;
    background-color:var(-bg);
    padding: 20px 20px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: gray;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
}
.menunavs>img{
    width: 23px;
    height: 23px;
}
.mainmenus>.active{
    display: flex;
    background-color:orange;
    padding: 20px 10px;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: white;
}
.calendar{
    margin-left: 15px;
}
.po{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 20px;
}


/* home overview */
.hodiv1{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 20px;
}
.hodiv1>a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium
    ;
}
.PoMain{
    width: 100%;
    margin-top: 30px;
    padding: 20px 20px;
}
.PoMain>button,.formbuttons>button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap:5px ;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #ffcb43;
    background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
}
.projectform{
    position: absolute;
    left: 50%;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    padding: 20px 40px;
    z-index: 2000;
    background: #fff5ee;
    box-shadow: 1px 1px 2px rgb(198, 192, 192),
                -1px 1px 2px rgb(208, 202, 202);
}
.projectform>.frm1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.projectform>.frm1>label{
    font-weight: bolder;
}
.frm1>input::placeholder,.frm1>textarea::placeholder{
    font-weight: bolder;
}
.frm1>input{
    padding: 8px 10px;
    border: none;
    outline: none;
    font-weight: bold;
}
.frm1>textarea{
    outline: none;
    padding: 8px 10px;
    border: none;
    font-weight: bold;
}
.frm1>select{
    padding: 8px 15px;
    border: none;
    font-weight: bold;
}
.formbuttons{
    display: flex;
    justify-content: space-around;
}
.formbuttons>button{
    width: 80px;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2000;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
.projectdata{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
  /* projectCard */


  .projectCard{
        background-color: rgb(228, 238, 239);
        width: 300px;
        height: 200px;
        border-radius: 20px;
        padding: 10px 10px;
        box-shadow:  1px 1px 2px #8b8a8a,
             -1px 1px 2px #ffffff;
             position: relative;
  }
  .card-1{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-weight: 200;
    font-size: small;
  }
  .go{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid black;
    transition: linear .2s;
  }
  .go:hover{
    transform: rotate(45deg);
  }
  .last{
    position: absolute;
    bottom: 0;
    right: 4%;
  }
  .last>img{
    width: 40px;
    height: 40px;
    border-radius:50% ;
  }
  .projectCard>h1{
    margin-top: 40px;
    margin-left: 2px;
  }
  .project-head{
    width: 100%;
    height: 200px;
    background-image: url('../../assets/image/desert.jpg');
    background-size:cover;
    background-repeat:no-repeat ;
    position: relative;
  }
  .project-head-1{
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0 10px; 
    display: flex;
    justify-content: space-between;   
}
  .project-display{
     color: rgb(255, 255, 255);
     font-weight: bolder;
  }
  .project-display>h1{
    font-size:30px;
    margin-top: 20px;
  }
  .project-display:hover #deleteproject{
    display: block;
  }
  .project-head-1>a{
    margin-top: 50px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .midtable{
    padding:30px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .midtable>tr>th{
    width: 150px;
    color: #8b8a8a;
    text-align: start;
  }
  #priority{
    background-color: #cacaca;
    padding: 2px 10px;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
  }
  #duedate{
    font-size: small;
    font-weight: bold;
  }
  .team{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    background-color: #cacaca;
    padding: 5px 8px;
    border-radius: 10px;
  }
  .team>img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .teams{
    display: flex;
    align-items: center;
  }
  #more{
    padding: 5px 5px;
    border-radius:50% ;
    font-weight: bolder;
  }
  .addtag{
    padding: 1px 6px ;
    margin-left: 5px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    background-color: blue;
    color: wheat;
  }
  #Team{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .Tagsrow{
    display: flex;
  }
  #Tags{
    display: flex;
    gap: 8px;
  }
  #Tags>a{
    background-color: #cacaca;
    font-weight: bolder;
    color: rgb(48, 31, 31);
    padding: 2.5px 5px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    border-radius: 10px;
  }
  #Tags>a>button{
    background-color: #ee525f;
    color: white;
    border: none;
    padding: 0 5px;
    border-radius: 5px;
  }

  #tagform{
    display: flex;
  }
  #tagform>input{
    padding: 0 10px;
    font-weight: bold;
  }
  #tagform>button{
    margin-left: 5px;
    background-color: #ffcb43;
    background: transparent;
    border-radius: 2px;
    padding: 0 5px;
    border: none;
    background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
  }
  .FindUser{
    position: absolute;
    z-index: 2000;
    top: 40%;
    left: 50%;
    background-color: #cacacaad;
    padding: 20px;
  }
  .userdiv{
     display: flex;
     gap: 5px;
     align-items: center;
     margin-top: 15px;
     font-weight: bolder;
  }
  .userdiv>img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .userdiv>button{
    background-color: #269af2;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: bolder;
    color: white;
  }
  #userForm>input{
     padding: 10px 15px;
     border: none;
     outline: none;
     border-radius: 8px;
  }
  #userForm>button{
      padding: 10px 10px;
      border: none;
      border-radius: 8px;
      margin-left: 10px;
  }
  #plus{
    font-weight: bolder;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  #deleteproject{
    padding: 10px 20px;
    border: none;
    font-weight: bolder;
    color: red;
    background-color: #cacacab6;
    position: absolute;
    z-index: 20;
    display: none;
    transition: all .3s;
  }
  #projectname{
    display: flex;
    align-items: center;
  }
  #projectname:hover #arrow{
    transform: rotate(180deg);
    transition: all .4s;
  }
  #discription{
    width: 500px;
    color: #8b8a8a;
    font-weight: 200;
  }